<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="/css/resetcss.css"/>
	<link rel="stylesheet" type="text/css" href="/css/utilidades.css"/>
	<link rel="stylesheet" type="text/css" href="/css/Personalshopper.css"/>
	<script defer type="text/javascript" src="/js/Personalshopper.js"></script>
	<meta charset="UTF-8">
	<title>Nosotros</title>
</head>
<body>
	<header>
		<a href="Personalshopper"><img id="logo" class="cabecera centrarhorizontal" src="imagenes/imagen7.jpg" alt="logo"></a>
	</header>
		<nav>
		<ul id="menu" class="menu centrarhorizontal">
			<li><a href="Nosotros">Nosotros</a></li>
			<li id="seccion2" class="seccion2"><a href="Servicios">Servicios</a>
			    <ul id="submenu" class="submenu">
			      <li><a href="mujeres">Mujer</a></li>
			      <li><a href="hombres">Hombre</a></li>
			      <li><a href="eventos">Eventos</a></li>
			      <li><a href="empresas">Empresas</a></li>
			      <li><a href="shopping">Shopping</a></li>
			      <li><a href="asistente">Asesoramiento Online</a></p> 
			    </ul>
			</li>
			<li><a href="Clientes">Clientes</a></li>
			<li><a href="Prensa">Prensa</a></li>
			<li><a href="Contacto">Contacto</a></li>
			<li><a href="Blog">Blog</a></li>
		</ul>
	</nav>


	<section>
		<article class="nosotros">
			<img src="imagenes/imagen10.jpg">
			<h1>NOSOTROS</h1>
			<p>Somos una empresa especializada en servicios de consultoría de imagen, estilismo privado y compras personalizadas, en los que aplicamos a todos los aspectos de consulta los más novedosos métodos de trabajo: servicios de asesoramiento en estilismo, personal shopping o planificación de armario entre otros.</p>
			<br>
			<br>
			<h2><strong>¿ESTÁS PENSANDO EN ACTUALIZAR, CAMBIAR O CREAR <br> TU PROPIO ESTILO?</strong></h2>
			<p>Trabajamos sobre la imagen del cliente, con el objetivo de sacarle el máximo partido. Analizamos su estilo, gustos, necesidades y preferencias, personalizamos su ruta de tiendas y proponemos nuevas ideas para su fondo de armario.
			<br/>
			Ir de tiendas con un Personal Shopper no es como ir con una amiga. El objetivo es aprovechar el tiempo de compras, por lo que previo a nuestra cita con el cliente, preparamos el recorrido a seguir seleccionando las tiendas y propuestas más acorde con su perfil.
			<br/>
			Es nuestra misión ofrecer servicios totalmente personalizados y a medida. Dirigidos a quienes no tienen tiempo, motivación o necesitan asesoramiento relacionado con su imagen.
			<br/>
			<br/>
			Si deseas más información, llámanos sin compromiso.</p>
		</article>
	</section>
	
	<footer class="footer">
		<div class="contenedor cf">
			<ul class="contacto">
				<li>
					<h4>CONTACTO</h4>
					<p><span>Teléfono</span> +34 663 345 123</p>
				</li>
				<li>
					<p><span>E-mail</span> info@personalshopper.com</p>
				</li>
			</ul>
			<ul class="redes">
				<li>
					<h4>Síguenos:</h4>
					<img src="imagenes/redes.jpg">
				</li>
				<li>
				</li>
			</ul>
		</div>

	</footer>
</body>

</html>