<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="/css/resetcss.css"/>
	<link rel="stylesheet" type="text/css" href="/css/utilidades.css"/>
	<link rel="stylesheet" type="text/css" href="/css/Personalshopper.css"/>
	<link rel="stylesheet" type="text/css" href="/css/mujeres.css"/>
	  <script type="text/javascript" src="jquery-2.1.1.min.js">
        </script>
	<script defer type="text/javascript" src="/js/Personalshopper.js"></script>
	<script defer type="text/javascript" src="/js/serviciosmujer.js"></script>
	<meta charset="UTF-8">
	<title>Shopping</title>
</head>
<body>
	<header>
		<a href="Personalshopper"><img id="logo" class="cabecera centrarhorizontal" src="/imagenes/imagen7.jpg" alt="logo"></a>
	</header>
	<nav>
		<ul id="menu" class="menu centrarhorizontal">
			<li><a href="Nosotros">Nosotros</a></li>
			<li id="seccion2" class="seccion2"><a href="Servicios">Servicios</a>
			    <ul id="submenu" class="submenu">
			      <li><a href="mujeres">Mujer</a></li>
			      <li><a href="hombres">Hombre</a></li>
			      <li><a href="eventos">Eventos</a></li>
			      <li><a href="empresas">Empresas</a></li>
			      <li><a href="shopping">Shopping</a></li>
			      <li><a href="#">Asesoramiento Online</a></p> 
			    </ul>
			</li>
			<li><a href="Clientes">Clientes</a></li>
			<li><a href="Prensa">Prensa</a></li>
			<li><a href="Contacto">Contacto</a></li>
			<li><a href="Blog">Blog</a></li>
		</ul>
	</nav>
	<section>
		
		<img class="serviciosmujer centrarhorizontal" src="/imagenes/shopping.png" />
		
	</section>
	<article class="mujeres centrarhorizontal">

		<h1>Shopping Tour</h1>
		<div>¿Te apetece un recorrido de compras temático? ¿Estás de visita en Madrid?.<br>
		Diseñamos tu recorrido y experiencia de compras totalmente personalizada a tus deseos. Consúltanos sin compromiso.</div>

	</article>

	<ul class="listaservicios centrarhorizontal">

		<li><h1>Servicios</h1></li>
		<li>Barrio Salamanca - Luxury Shopping<img class="carro" src="/imagenes/carrito.png" alt="Compra"></li>
		<li>Chueca Tour<img class="carro" src="/imagenes/carrito.png" alt="Compra"></li>
		<li>Malasaña & Gran Vía<img class="carro" src="/imagenes/carrito.png" alt="Compra"></li>
		<li>Outlet Shopping<img class="carro" src="/imagenes/carrito.png" alt="Compra"></li>
		<li>Bebé & Niños<img class="carro" src="/imagenes/carrito.png" alt="Compra"></li>
		<li>Gourmet<img class="carro" src="/imagenes/carrito.png" alt="Compra"></li>
		<li>Madrid de los Austrias<img class="carro" src="/imagenes/carrito.png" alt="Compra"></li>
	</ul>