section{
	width: 1000px;
	height: 1000px;
	margin: auto;
	padding:10px;
}
h1{
	font-size:30px;
	margin-left: 150px;
	margin-top: 20px;
	text-align: right;
}
.mapa{
	float:right;
	margin-top: 20px;
}
.conocenos{
	font-size:20px;
	margin-top:100px;
}
.texto{
	font-size:15px;
	line-height:5px;
}
.interlineado{
	line-height:1px;
}
.input{
	margin-top: 30px;
	margin-left: -150px;
	font-size: 15px;
	text-align: right;
}
.mensaje{
	width:350px;
	height:80px;
}
