
.serviciosmujer{

   	width:50%;
   	margin-top:50px;
}

h1{
	font-size:30px;
	padding:20px;
	margin:10px;
	

}

.mujeres{
	width:50%;
	text-align: center;
	
}

.listaservicios{
	text-align: center
}

.eventos{
	text-decoration:underline;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}