html {
	font-family:Arial;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
}

#menu {
	margin: 50px 150px 50px 150px;
	z-index: 1;

}

ul ol {
	list-style: none;
}

.menu li a {
	text-decoration: none;
	display:block;
	padding:15px 40px;
	text-align:center;
	margin: 0 auto;
}

.menu > li {
	float: left;
}

.menu li a:hover {
	background-color: lightgrey;
}

.menu li ul {
	display: none;
	position: absolute;
	max-width: 150px;
	background-color: white;
}

.menu li:hover > ul {
	display: block;
}

.submenu li  {
	display: block;
	margin: 0 auto;
}

.submenu li a {
	padding: 15px 0 15px 0;
}
.slide{
    width: 75%;
    height: 500px;
    margin-top:50px;
	display:inline-block;
    position: relative;
}
 
.slide img{
    width: 100%;
    height: 500px;
    position: absolute;
}
 
.slide .img2, .slide .img3 {
    display: none;
}
.servicios {
	margin-left: 40px;
	width:80%;
	height:500px;
	list-style-type: none;


}
.servicios li img {
	float: left;
	background-color:grey;
	margin: 40px;
	width:250px;
	height:250px;
	border-radius:50%;
	box-shadow: 10px 10px 5px #888888;
}

.nosotros img {
	float: left;
	margin: 50px 50px 50px 150px;
}

.nosotros h1 {
	text-align: justify;
	padding: 100px 100px 50px 0px;
	font-size: 16pt;
}

.nosotros h2, p {
	text-align: justify;
	padding: 0px 100px 50px 50px;
	margin-left: 100px;
	font-size: 16pt;
	width: 1200px;
	line-height: 150%;
}

.footer {
	background-color: #202020;
	margin: 50px 0 0 0;
	color: #999992;

}

.contenedor {
	width: 75%;
	margin: 0 auto;
	padding: 20px;
}

#cuentavisitas{
	text-align: center;
	border: 2px solid grey;
	margin: 200px 500px 50px;
	padding:10px;
}

.footer ul {
	overflow: hidden;
	list-style-type: none;
	display: inline-block;
	width:500px;
}

.contacto .redes {
	width: 450px;
	padding: 0 14px;
}

.footer h4 {
	font-size: 14pt;
	color: #ffffff;
	padding: 32px 0 14px;
}

.footer p {
	font-size: 12pt;
	color: #999992;
	margin-left:-50px;
}

.footer span {
	color: #ffffff;
}

.redes {
	position: absolute;
	margin-top: 50px;
}